/*
    list component styling
    Authors: Mantie7553, Kinley6573
*/
.list-section-game {
    @apply bg-[#C9082A] p-4 mb-6 border-b-2 border-white;
}

.list-section-team {
    @apply bg-[#C9082A] p-4 mb-6;
}

.list-header {
    @apply text-white text-xl font-bold mb-4 px-2;
}

.list-content {
    @apply flex flex-col gap-2;
}

.list-header-collapsible {
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0;
    padding: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C9082A;
    border: 1px solid white;
    transition: background-color 0.2s;
    user-select: none;
}

.list-header-collapsible:hover {
    background-color: #b91c1c;
}

.list-header-collapsible .collapse-icon {
    font-size: 1.5rem;
    font-weight: bold;
}